<div id="logo-line">
<img id="logo" src="/logo.png" alt="Company Logo">
<h1>Jeff Hemmen Sàrl‑S</h1>
</div>

<div class="tagline">
    <div class="tagline_inner">
        <div class="tagline_main">
            <span>Consulting Services</span>
        </div>
        <div class="tagline_sub">
            <span>DevSecOps | Cloud | HashiCorp</span>
        </div>
    </div>
    
</div>

<div id="email-line">
    <a href="mailto:jeff@hemmen.lu" class="email-link">
        <img id="envelope-icon" src="/assets/icons/envelope-icon.png" alt="Envelope Icon">
        jeff@hemmen.lu
    </a>
</div>