{%- if include.publication.external_url -%}
{%- assign actual_url = include.publication.external_url -%}
{%- else -%}
{%- assign actual_url = include.publication.url -%}
{%- endif -%}

{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
<a class="publication-card" href="{{ actual_url }}"{%- if include.publication.external_url -%} target="_blank"{%- endif -%}>
    <div>  
        <span class="publication-content">  
            <h3>{{include.publication.title | escape }}{%- if include.publication.external_url -%}<img class="outgoing-link" src="/assets/icons/external_link.svg">{%- endif -%}</h3>
            <span class="publication-tags"><span>{{include.publication.type}}</span><span>{{include.publication.role}}</span></span>
            <span class="publication-date">published {{include.publication.date | date: date_format}}</span>
            <p>{{include.publication.excerpt}}</p>
        </span>
        <img src="{{ include.publication.thumbnail }}">
    </div>
</a>