.footer-compinfo {
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;

    span {
        font-size: 14px;
        margin-bottom: 5px;
        display: inline-block;
        padding: 0 10px; /* Add padding to space out the elements */
        position: relative;        
    }

    span:not(:last-child):after {
        content: "|"; /* Add a vertical separator */
        position: absolute;
        right: -5px; /* Adjust the position to place the separator correctly */
    }
}



.site-header {
    background-color: $background-color;
    position: sticky;
    top: 0;
    line-height: 3rem;
    min-height: 0;
}

.grid-container {    
    width: 100%;
    display: grid;
}

.credly-grid-container {
    @extend .grid-container;
    grid-template-columns: repeat(auto-fill, 160px);
    gap: 10px;

    .credly-cert-container {
        background-color: $brand-color;
        padding: 5px;
        border: 2px;
        border-radius: 6px;
        border-color: $brand-color-dark;
    }
}

.logo-cloud {
    display: grid;
    
    grid-template-columns: repeat(auto-fit, 60px);
    grid-auto-rows: 60px;
    grid-auto-flow: dense;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    width: 90%;
    gap: 10px;

    background-color: lighten($background-color, 50%);
    border-width: 2px;
    border-radius: 6px;
    border-color: $brand-color-dark;
    border-style: solid;
    padding: 8px;

    margin-bottom: 20px;

    div {
        --weight: 1;
        --width: 1;
        --height: 1;
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        
        img {
            height: 80%;
            width: auto;
            object-fit: contain;             
            padding: 4px;
        }
    }

    .logo-redacted {
        background-color: black;

        img {
            visibility: hidden;
        }
    }

    .logo-redacted:after {
        content: "[redacted]";
        position: absolute;
        color: white;
    }
}

.site-nav {

    .trigger {
        ul {
            list-style-type: none;
            margin: 0;
            li {
                display: block;
                position: relative;
    
                .dropdown {
                    
                    visibility: hidden;

                    position: absolute;
                    width: max-content;
                    right: 100%;
                    top: 0;
                    display: block;          
                    border-width: 1px;
                    border-style: solid;
                    border-radius: 4px;
                    border-color: $brand-color;
                    background-color: $background-color;
                    padding: 6px;
                    text-align: left;
    
                    li {
                        clear: both;
                        display: block;
                    }

                    .page-link {
                        display: block;
                    }

                    .page-link-active {
                        border-left-style: solid;
                        border-bottom-style: none;
                    }
                }
            }

            li:hover, li:focus-within {
                background-color: lighten($background-color, 20%);
                .dropdown {
                    visibility: visible;                    
                }                    
            }
        }
    
        .page-link {
            display: block;
            margin: 0;
            background-color: transparent;
            transition-property: background-color;
            transition-duration: 300ms; 
        }
    
        .page-link:hover, .page-link:focus {   
            background-color: lighten($background-color, 20%);
            text-decoration: none;
        }
    
        .page-link-active {
        @extend .page-link;
            background-color: lighten($background-color, 10%);
            border-color: $brand-color-light;
            border-left-style: solid;
            border-width: 2px;
        }
        
        @media screen and (min-width: $on-medium) {
    
            ul {
                li {
                    display: inline-block;

                    .dropdown {
                        right: 0;
                        top: unset;
                    }
                }
            }
    
            .page-link {
                line-height: 3rem;
                padding-left: 1rem;
                padding-right: 1rem;
                // padding: .875rem 1rem;
                
            }

            .page-link-active {
                border-left-style: none;
                border-bottom-style: solid;
                border-width: 2px;
                margin-bottom: -2px;
            }
        }
    }
    
}

.site-title {
    padding-right: 1rem;

    background-color: transparent;
    transition-property: background-color;
    transition-duration: 300ms;    

    img {
        float: left;
        height: 3rem;
    }
}

.site-title-current {
    @extend .site-title;

    border-bottom-style: solid;
    border-color: $brand-color-light;
    border-width: 2px;
    margin-bottom: -2px;
}

.site-title:hover, .site-title:focus {
    background-color: lighten($background-color, 20%);
    text-decoration: none;
}

.site-title:visited {
    color: $site-title-color;
}

.home-placeholder {
    text-align: center;
    height: 40vh;

    .tagline {
        display: flex;
        font-size: 30px;
        align-items: center;
        justify-content: center;
        height: 50%;
        color: #FFE5B4;
    }

    #email-line {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%;
    }

    #envelope-icon {
        height: 20px;
        width: auto;
    }

    .email-link {
        text-decoration: none;
        color: #FFE5B4;    
        font-size: 20px;
    }
}

.verify-link {
    margin-left: .5em;
    padding: 2px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: $brand-color-dark;
    float: right;
}

.verify-link:hover {
    text-decoration: none;
    border-color: $brand-color-light;
    background-color: lighten($background-color, 5%);
}

.outgoing-link {
    height: .8rem;
    margin-left: 4px;
    vertical-align: super;
}

.publication-card {

    text-decoration: none;

    div {
        // display:grid;
        overflow: auto;
        gap: 1em;
        border-color: $brand-color;
        border-width: 2px;
        border-style: solid;
        border-radius: 2px;
        padding: 6px;
        // grid-template-columns: auto max-content;
        // grid-template-rows: auto auto;

        .publication-tags {
            span {
                border: 1px;
                border-color: $brand-color;
                border-style: solid;
                border-radius: 4px;
                padding: 2px;                
            }

            span:not(:last-child) {
                margin-right: 2px;
            }
            
        }

        .publication-content {

            // float: left;

            h3 {
                color: $text-color;
                margin-bottom: 0;
            }
    
            .publication-date {
                font-size: .8rem;
            }
    
            p {
                margin-top: 1em;
                font-size: 1rem;
            }
        }        

        .publication-thumbnail {
            padding: 2px;
            max-width: 30vw;
            max-height: 8rem;
            object-fit: contain;
            object-position: top;
            border-radius: 4px;
            border-width: 0;
            float: right;
            margin-left: 8px;
            margin-bottom: 8px;
        }
    }    
}

@media screen and (min-width: $on-medium) {
    // .publication-card {

    // }
}

.publication-card:hover, .publication-card:focus {
    text-decoration: none;
    color: $link-base-color;

    div {
        h3 {
            color: $link-hover-color;
            text-decoration: underline;
        }
    }
}