.footer-compinfo {
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;

    span {
        font-size: 14px;
        margin-bottom: 5px;
        display: inline-block;
        padding: 0 10px; /* Add padding to space out the elements */
        position: relative;        
    }

    span:not(:last-child):after {
        content: "|"; /* Add a vertical separator */
        position: absolute;
        right: -5px; /* Adjust the position to place the separator correctly */
    }
}



.site-header {
    background-color: $background-color;
    position: sticky;
    top: 0;
}

.grid-container {    
    width: 100%;
    display: grid;
}

.credly-grid-container {
    @extend .grid-container;
    grid-template-columns: repeat(auto-fill, 160px);
    gap: 10px;
}

.logo-cloud {
    display: grid;
    
    grid-template-columns: repeat(auto-fit, 60px);
    grid-auto-rows: 60px;
    grid-auto-flow: dense;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    width: 90%;
    gap: 10px;

    background-color: lighten($background-color, 50%);
    border-width: 2px;
    border-radius: 6px;
    border-color: $brand-color-dark;
    border-style: solid;
    padding: 8px;

    margin-bottom: 20px;

    div {
        --weight: 1;
        --width: 1;
        --height: 1;
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        
        img {
            height: 80%;
            width: auto;
            object-fit: contain;             
            padding: 4px;
        }
    }

    
}

.credly-cert-container {
    background-color: $brand-color;
    padding: 5px;
    border: 2px;
    border-radius: 6px;
    border-color: $brand-color-dark;
}

.site-nav {

    ul {
        list-style-type: none;
        margin: 0;
        li {
            display: block;
            position: relative;

            ul {
                visibility: hidden;
                opacity: 0;
                position: absolute;
                transition: all 0.5s ease;
                margin-top: 1rem;
                left: 0;
                display: none;

                li {
                    clear: both;
                }
            }

            li:hover > ul,
            li ul:hover {
                visibility: visible;
                opacity: 1;
                display: block;
            }
        }
    }

    .page-link {

        border-color: transparent;
        border-width: 2px;
        background-color: transparent;
        transition-property: background-color;
        transition-duration: 300ms;        
    }

    .page-link:hover {   
        background-color: lighten($background-color, 20%);
        text-decoration: none;
    }

    .page-link-active {
    @extend .page-link;
        background-color: lighten($background-color, 10%);
        // border-width: 2px;
        border-color: $brand-color-light;
        border-left-style: solid;
    }
    
    @media screen and (min-width: $on-medium) {

        ul {
            li {
                display: inline-block;
            }
        }

        .page-link {
            padding: 16px 4px 18px;
            border-left-style: none;
            border-bottom-style: solid;
            margin-left: 20px;
        }
    }
}

.site-title {
    padding-right: 4px;
    border-bottom-style: solid;
    border-color: transparent;
    border-width: 2px;

    background-color: transparent;
    transition-property: background-color;
    transition-duration: 300ms;    

    .company-logo {
        height: 54px;
        float: left;
    
        img {        
            vertical-align: top;
            max-height: 100%;
            max-width: 100%;
        }
    }
}

.site-title-current {
    @extend .site-title;
    border-bottom-style: solid;
    border-color: $brand-color-light;
    border-width: 2px;
}

.site-title:hover {
    background-color: lighten($background-color, 20%);
    text-decoration: none;
}

.site-title:visited {
    color: $site-title-color;
}

.home-placeholder {
    text-align: center;
    height: 40vh;

    .tagline {
        display: flex;
        font-size: 30px;
        align-items: center;
        justify-content: center;
        height: 50%;
        color: #FFE5B4;
    }

    #email-line {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%;
    }

    #envelope-icon {
        height: 20px;
        width: auto;
    }

    .email-link {
        text-decoration: none;
        color: #FFE5B4;    
        font-size: 20px;
    }
}