.footer-compinfo {
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;

    span {
        font-size: 14px;
        margin-bottom: 5px;
        display: inline-block;
        padding: 0 10px; /* Add padding to space out the elements */
        position: relative;        
    }

    span:not(:last-child):after {
        content: "|"; /* Add a vertical separator */
        position: absolute;
        right: -5px; /* Adjust the position to place the separator correctly */
    }
}

.company-logo {
    height: 54px;
    float: left;

    img {        
        vertical-align: top;
        max-height: 100%;
        max-width: 100%;
    }
}

.site-header {
    background-color: $background-color;
    position: sticky;
    top: 0;
}

.grid-container {    
    width: 100%;
    display: grid;
}

.credly-grid-container {
    @extend .grid-container;
    grid-template-columns: repeat(auto-fill, 160px);
    gap: 10px;
}

.logo-cloud {
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-template-rows: repeat(auto-fit, 80px);
    grid-auto-rows: 80px;
    grid-auto-columns: 80px;
    grid-auto-flow: dense;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    width: fit-content;
    gap: 4px;

    background-color: $brand-color;
    border-width: 2px;
    border-radius: 6px;
    border-color: $brand-color-dark;
    border-style: solid;
    padding: 4px;

    div {
        --weight: 1;
        --aspect_x: 1;
        --aspect_y: 1;
        display: flex;
        height: 100%;
        width: 100%;
        align-content: center;
        justify-content: center;
        grid-column: span calc(var(--weight) * var(--aspect_x));
        grid-row: span calc(var(--weight) * var(--aspect_y));
        
        img {
            height: 100%;
            width: 100%;
            object-fit: contain;            
        }
    }
}

.credly-cert-container {
    background-color: $brand-color;
    padding: 5px;
    border: 2px;
    border-radius: 6px;
    border-color: $brand-color-dark;
}

.site-nav {

    .page-link {
        border-color: transparent;
        border-width: 2px;
    }

    .page-link-active {
    @extend .page-link;
        background-color: lighten($background-color, 10%);
        border-width: 2px;
        border-color: $brand-color-light;
        border-left-style: solid;
    }
    
    @media screen and (min-width: $on-medium) {

        .page-link {
            padding: 16px 4px 18px;
            border-width: 2px;
            border-left-style: none;
            border-bottom-style: solid;
        }

        .page-link:hover {
            background-color: lighten($background-color, 20%);
            text-decoration: none;
        }
    }
}




.site-title {
    padding-right: 4px;
    border-bottom-style: solid;
    border-color: transparent;
    border-width: 2px;
}

.site-title-current {
    @extend .site-title;
    // background-color: lighten($background-color, 10%);
    border-bottom-style: solid;
    border-color: $brand-color-light;
    border-width: 2px;
}


.site-title:hover {
    background-color: lighten($background-color, 20%);
    text-decoration: none;
}

.site-title:visited {
    color: $site-title-color;
}