.footer-compinfo {
    // position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;

    p {
        font-size: 14px;
        margin-bottom: 5px;
        display: inline-block; /* Make the paragraphs inline */
        padding: 0 10px; /* Add padding to space out the elements */
        position: relative;        
    }

    p:not(:last-child):after {
        content: "|"; /* Add a vertical separator */
        position: absolute;
        right: -5px; /* Adjust the position to place the separator correctly */
    }
}

.company-logo {
    height: 54px;
    float: left;

    img {        
        vertical-align: top;
        max-height: 100%;
        max-width: 100%;
    }
}

.site-header {
    background-color: $background-color;
    position: sticky;
    top: 0;
}

.grid-container {    
    width: 100%;
    display: grid;
}

.credly-grid-container {
    @extend .grid-container;
    grid-template-columns: repeat(auto-fill, 160px);
    gap: 10px;
}

.logo-cloud {
    display: grid;
    // grid-template-columns: repeat(10, 1fr);
    // grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-auto-flow: dense;
    align-items: center;
    justify-items: center;
    gap: 4px;

    .logo-cloud-item {
        --weight: 1;
        --aspect_x: 1;
        --aspect_y: 1;
        display: flex;
        height: 100%;
        width : 100%;
        align-content: center;
        justify-content: center;
        grid-column: span calc(var(--weight) * var(--aspect_x));
        grid-row: span calc(var(--weight) * var(--aspect_y));
        // grid-area: calc(var(--weight) * 2) / calc(var(--weight) * 2) / span var(--weight) / span calc(var(--weight) * var(--aspect)); //random(10) / random(1) calc(1 + var(--weight)) / calc(1 + var(--weight));

        img {
            object-fit: contain;            
        }
    }

    // .logo-cloud-item:nth-child(4n) {
    //     grid-area: 5 / 5 / 5 / 5;
    // }

    // .logo-cloud-item:nth-child(4n + 1) {
    //     grid-area: 6 / 5 / 6 / 5;
    // }

    // .logo-cloud-item:nth-child(4n + 2) {
    //     grid-area: 6 / 4 / 6 / 4;
    // }

    // .logo-cloud-item:nth-child(4n + 3) {
    //     grid-area: 5 / 4 / 5 / 4;
    // }
}

.clients-grid-container {
    // @extend .grid-container;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    // grid-template-rows: repeat(auto-fill, 200px);
    // gap: 10px;
}

.past-client-container {
    // @extend .grid-item !optional;
    display: inline-grid;
    height: auto;
    width: fit-content;
    min-width: fit-content;
    grid-auto-rows: max-content min-content;
    gap: 10px;    
    padding: 10px;
    padding-bottom: 4px;
    margin: 4px;
    justify-items: center;
    align-items: center;
    
    border-width: 2px;
    border-radius: 6px;
    border-color: $brand-color-dark;
    border-style: solid;

    .client-logo {
        display: flex;
        align-content: center;
        justify-content: center;        
        width: 100%;
        height: 160px;
        background-color: $brand-color;
        padding: 5px;
        border-style: solid;
        border-width: 2px;
        border-radius: 6px;
        border-color: $brand-color-dark;

        img {
            object-fit: cover;
        }

    }
    
    .client-name-label {
        width: 100%;
        background-color: $brand-color;
        padding: 5px;
        border-width: 2px;
        border-radius: 6px;
        border-color: $brand-color-dark;
        border-style: solid;
        color: $background-color;        
        text-align: center;
    }
}

.credly-cert-container {
    background-color: $brand-color;
    padding: 5px;
    border: 2px;
    border-radius: 6px;
    border-color: $brand-color-dark;
}

.site-nav {

    .page-link {
        border-color: transparent;
        border-width: 2px;
    }

    .page-link-active {
    @extend .page-link;
        background-color: lighten($background-color, 10%);
        border-width: 2px;
        border-color: $brand-color-light;
        border-left-style: solid;
    }
    
    @media screen and (min-width: $on-medium) {

        .page-link {
            padding: 16px 4px 18px;
            border-width: 2px;
            border-left-style: none;
            border-bottom-style: solid;
        }

        .page-link:hover {
            background-color: lighten($background-color, 20%);
            text-decoration: none;
        }
    }
}




.site-title {
    padding-right: 4px;
    border-bottom-style: solid;
    border-color: transparent;
    border-width: 2px;
}

.site-title-current {
    @extend .site-title;
    // background-color: lighten($background-color, 10%);
    border-bottom-style: solid;
    border-color: $brand-color-light;
    border-width: 2px;
}


.site-title:hover {
    background-color: lighten($background-color, 20%);
    text-decoration: none;
}

.site-title:visited {
    color: $site-title-color;
}