.footer-compinfo {
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;

    span {
        font-size: 14px;
        margin-bottom: 5px;
        display: inline-block;
        padding: 0 10px; /* Add padding to space out the elements */
        position: relative;        
    }

    span:not(:last-child):after {
        content: "|"; /* Add a vertical separator */
        position: absolute;
        right: -5px; /* Adjust the position to place the separator correctly */
    }
}



.site-header {
    background-color: $background-color;
    position: sticky;
    line-height: 3rem;
    min-height: auto;
}

.grid-container {    
    width: 100%;
    display: grid;
}

.credly-grid-container {
    @extend .grid-container;
    grid-template-columns: repeat(auto-fill, 160px);
    gap: 10px;
}

.logo-cloud {
    display: grid;
    
    grid-template-columns: repeat(auto-fit, 60px);
    grid-auto-rows: 60px;
    grid-auto-flow: dense;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    width: 90%;
    gap: 10px;

    background-color: lighten($background-color, 50%);
    border-width: 2px;
    border-radius: 6px;
    border-color: $brand-color-dark;
    border-style: solid;
    padding: 8px;

    margin-bottom: 20px;

    div {
        --weight: 1;
        --width: 1;
        --height: 1;
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        
        img {
            height: 80%;
            width: auto;
            object-fit: contain;             
            padding: 4px;
        }
    }
}

.credly-cert-container {
    background-color: $brand-color;
    padding: 5px;
    border: 2px;
    border-radius: 6px;
    border-color: $brand-color-dark;
}

.site-nav {

    .trigger {
        ul {
            list-style-type: none;
            margin: 0;
            li {
                display: block;
                position: relative;
    
                .dropdown {
                    
                    visibility: hidden;

                    position: absolute;
                    width: max-content;
                    right: 20px;
                    display: block;          
                    border-width: 1px;
                    border-style: solid;
                    border-radius: 4px;
                    border-color: $brand-color;
                    background-color: $background-color;
                    padding: 6px;
    
                    li {
                        clear: both;
                        display: block;
                    }

                    .page-link {
                        display: block;
                    }

                    .page-link-active {
                        border-left-style: solid;
                        border-bottom-style: none;
                    }
                }  
            }

            li:hover, li:focus-within {
                .dropdown {
                    visibility: visible;                    
                }                    
            }
        }
    
        .page-link {
    
            border-color: transparent;
            border-width: 2px;
            background-color: transparent;
            transition-property: background-color;
            transition-duration: 300ms;        
        }
    
        .page-link:hover, .page-link:focus-within {   
            background-color: lighten($background-color, 20%);
            text-decoration: none;
        }
    
        .page-link-active {
        @extend .page-link;
            background-color: lighten($background-color, 10%);
            border-color: $brand-color-light;
            border-left-style: solid;
        }
        
        @media screen and (min-width: $on-medium) {
    
            ul {
                li {
                    display: inline-block;
                }
            }
    
            .page-link {
                padding: .875em 1em;
                border-left-style: none;
                border-bottom-style: solid;
            }
        }
    }
    
}

.site-title {
    padding-right: 4px;
    border-bottom-style: solid;
    border-color: transparent;
    border-width: 2px;

    background-color: transparent;
    transition-property: background-color;
    transition-duration: 300ms;    

    img {
        float: left;
        height: 3rem;
    }
}

.site-title-current {
    @extend .site-title;
    border-bottom-style: solid;
    border-color: $brand-color-light;
    border-width: 2px;
}

.site-title:hover {
    background-color: lighten($background-color, 20%);
    text-decoration: none;
}

.site-title:visited {
    color: $site-title-color;
}

.home-placeholder {
    text-align: center;
    height: 40vh;

    .tagline {
        display: flex;
        font-size: 30px;
        align-items: center;
        justify-content: center;
        height: 50%;
        color: #FFE5B4;
    }

    #email-line {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%;
    }

    #envelope-icon {
        height: 20px;
        width: auto;
    }

    .email-link {
        text-decoration: none;
        color: #FFE5B4;    
        font-size: 20px;
    }
}

.verify-link {
    padding: 2px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: $brand-color-dark;
}

.verify-link:hover {
    text-decoration: none;
    border-color: $brand-color-light;
    background-color: lighten($background-color, 5%);
}