.footer-compinfo {
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;

    span {
        font-size: 14px;
        margin-bottom: 5px;
        display: inline-block;
        padding: 0 10px; /* Add padding to space out the elements */
        position: relative;        
    }

    span:not(:last-child):after {
        content: "|"; /* Add a vertical separator */
        position: absolute;
        right: -5px; /* Adjust the position to place the separator correctly */
    }
}



.site-header {
    background-color: $background-color;
    position: sticky;
    top: 0;
}

.grid-container {    
    width: 100%;
    display: grid;
}

.credly-grid-container {
    @extend .grid-container;
    grid-template-columns: repeat(auto-fill, 160px);
    gap: 10px;
}

.logo-cloud {
    display: grid;
    
    grid-template-columns: repeat(auto-fit, 80px);
    grid-auto-rows: 80px;
    grid-auto-flow: dense;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    gap: 8px;

    background-color: lighten($background-color, 50%);
    border-width: 2px;
    border-radius: 6px;
    border-color: $brand-color-dark;
    border-style: solid;
    padding: 8px;

    margin-bottom: 20px;

    div {
        --weight: 1;
        --aspect_x: 1;
        --aspect_y: 1;
        display: flex;
        height: 100%;
        width: 100%;
        align-content: center;
        justify-content: center;
        grid-column: span calc(var(--weight) * var(--aspect_x));
        grid-row: span calc(var(--weight) * var(--aspect_y));
        

        // transition-property: background-color, border-color;
        // border-width: 2px;
        // border-radius: 6px;
        // border-color: transparent;
        // border-style: solid;
        // transition-duration: 300ms;                 
        padding: 4px;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;                        
        }
        
    }

    // div:hover {
    //     background-color: darken($brand-color, 10%);
    //     border-color: $brand-color-dark;
    //     border-style: solid;
    // }
}

.credly-cert-container {
    background-color: $brand-color;
    padding: 5px;
    border: 2px;
    border-radius: 6px;
    border-color: $brand-color-dark;
}

.site-nav {

    .page-link {

        border-color: transparent;
        border-width: 2px;
        background-color: transparent;
        transition-property: background-color;
        transition-duration: 300ms;        
    }

    .page-link:hover {   
        background-color: lighten($background-color, 20%);
        text-decoration: none;
    }

    .page-link-active {
    @extend .page-link;
        background-color: lighten($background-color, 10%);
        // border-width: 2px;
        border-color: $brand-color-light;
        border-left-style: solid;
    }
    
    @media screen and (min-width: $on-medium) {

        .page-link {
            padding: 16px 4px 18px;
            border-left-style: none;
            border-bottom-style: solid;
        }
    }
}




.site-title {
    padding-right: 4px;
    border-bottom-style: solid;
    border-color: transparent;
    border-width: 2px;

    background-color: transparent;
    transition-property: background-color;
    transition-duration: 300ms;    

    .company-logo {
        height: 54px;
        float: left;
    
        img {        
            vertical-align: top;
            max-height: 100%;
            max-width: 100%;
        }
    }
}

.site-title-current {
    @extend .site-title;
    border-bottom-style: solid;
    border-color: $brand-color-light;
    border-width: 2px;
}

.site-title:hover {
    background-color: lighten($background-color, 20%);
    text-decoration: none;
}

.site-title:visited {
    color: $site-title-color;
}

.home {
    text-align: center;

    .tagline {
        font-size: 30px;
        margin-top: 20px;
        color: #FFE5B4;
    }

    #email-line {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    }

    #envelope-icon {
    width: 4vh;
    height: auto;
    vertical-align: middle;
    }

    .email-link {
    text-decoration: none;
    color: #FFE5B4;
    }

    #email p {
    font-size: 3vh;
    margin-left: 5px;
    font-weight: light;
    }
}