.footer-compinfo {
    // position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;

    p {
        font-size: 14px;
        margin-bottom: 5px;
        display: inline; /* Make the paragraphs inline */
        padding: 0 10px; /* Add padding to space out the elements */
        position: relative;        
    }

    p:not(:last-child):after {
        content: "|"; /* Add a vertical separator */
        position: absolute;
        right: -5px; /* Adjust the position to place the separator correctly */
    }
}

.company-logo {
    height: 54px;
    float: left;

    img {        
        vertical-align: top;
        max-height: 100%;
        max-width: 100%;
    }
}

.site-header {
    background-color: $background-color;
    position: sticky;
    top: 0;
}

.grid-container {    
    width: 100%;
    display: grid;
}

.credly-grid-container {
    @extend .grid-container;
    grid-template-columns: repeat(auto-fill, 160px);
    gap: 10px;
}

.clients-grid-container {
    @extend .grid-container;
    grid-template-columns: repeat(auto-fill, 160px);
    gap: 10px;
}

.past-client-container {
    @extend .grid-item !optional;
    display: grid;
    grid-auto-rows: auto min-content;
    gap: 10px;    
    padding: 10px;
    padding-bottom: 4px;
    justify-items: center;
    align-items: center;
    
    border-width: 2px;
    border-radius: 6px;
    border-color: $brand-color-dark;
    border-style: solid;

    .client-logo {
        display: flex;
        align-content: center;
        justify-content: center;        
        width: 100%;
        height: 100%;
        background-color: $brand-color;
        padding: 5px;
        border-style: solid;
        border-width: 2px;
        border-radius: 6px;
        border-color: $brand-color-dark;

        img {
            object-fit: contain;
        }

    }
    
    .client-name-label {
        width: 100%;
        background-color: $brand-color;
        padding: 5px;
        border-width: 2px;
        border-radius: 6px;
        border-color: $brand-color-dark;
        border-style: inset;
        color: $background-color;        
        text-align: center;
    }
}

.credly-cert-container {
    background-color: $brand-color;
    padding: 5px;
    border: 2px;
    border-radius: 6px;
    border-color: $brand-color-dark;
}

.site-nav {
    .page-link-active {
    @extend .page-link;    
        padding-bottom: 18px;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-bottom-color: $brand-color-light;    
    }
}