---
layout: base
title: Testimonials
---

<h1 class="page-heading">Testimonials</h1>
<!-- list of testimonials -->

<h1 class="page-heading">Past Clients</h1>
<!-- grid of client logos -->

{% comment %}
{% assign random_clients = page.past_clients | sample: page.past_clients.size %}
{% assign random_clients = page.past_clients | sort: "weight" | reverse %}

{% for client in random_clients %}

{% include past-client.html client=client %}

{% endfor %}
{% endcomment %}

<h2>Consulted on behalf</h2>
{% include logo-cloud.html base_path='/assets/images/client_icons/consultant_on_behalf_of' %}

<h2>Worked for</h2>
{% include logo-cloud.html base_path='/assets/images/client_icons/worked_or_consulted_for' %}

<h2>Delivered training</h2>
{% include logo-cloud.html base_path='/assets/images/client_icons/delivered_training_to' %}
